@charset "UTF-8";
/* em HTML e id = em CSS e # 
   em HTML e class = em CSS e . */

body{
    background-color: rgb(149, 247, 149);
    font-family: Arial, Helvetica, sans-serif;

}
h1{

    color: rgb(45, 75, 45);;
}
h2 {
    color: rgb(94, 152, 94);;
}
h1#principal{

    color: blue;
    background-color: rgb(59, 5, 109);
    text-align: center;
}

.basico{
    color: red;
}
.intermediario {
    color:yellow }
 
.avançado{
    color: rgb(188, 12, 150);
}    

.destaque{
    background-color: rgba(255, 255, 0, 0.524);
}
