/* Todas as versões  */

@media print{
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body{
 background-image: url(imagem/back-print.jpg);         /*na impressão nao sai fundo de site */
    }
    main{border: 2px solid black;
    }
    h1 {
        color: black;
        text-shadow: none;
    }
    img#phone{
        display: none;
    
    }
    img#tablet{
        display: none;
    }
    img#print{
        display: block;
    }
    img#pc{
        display: none;
    }
    img#tv{
        display: none;
    }

    
}
/* tablet */
@media screen and (min-width: 768px) {
    body{
        background-image:url(imagem/back-tablet.jpg);

    }
    img#phone{
        display: none;
    
    }
    img#tablet{
        display: block;
    }
    img#print{
        display: none;
    }
    img#pc{
        display: none;
    }
    img#tv{
        display: none;
    }
}
/* Desktop */
@media screen and (min-width: 992px){
    body{
        background-image: url(imagem/back-pc.jpg);
    }
    img#phone{
        display: none;
    
    }
    img#tablet{
        display: none;
    }
    img#print{
        display: none;
    }
    img#pc{
        display: block;
    }
    img#tv{
        display: none;
    }

}
/* Grandes telas  */
@media screen and (min-width:1200px){
body{
    background-image: url(imagem/back-tv.jpg);
}
    img#phone{
        display: none;
    
    }
    img#tablet{
        display: none;
    }
    img#print{
        display: none;
    }
    img#pc{
        display: none;
    }
    img#tv{
        display: block;
    }
}

